body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.photo {
    position: relative;
    text-align: center;
    color: white;
    font-weight: 300;
}

.photo > img {
    width: 100%;
}

.photo > p {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.information {
    margin: 20px;
    font-weight: 300;
}

.susan > h1 {
    margin-bottom: 0;
}

.susan > p {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 40px;
}

.information > blockquote {
    font-size: 24px;
    margin-bottom: 40px;
}

.ambs {
    color: gray;
    font-weight: 300;
    font-size: 14px;
    margin: 40px 10px 10px 10px;
}